body{
	font-family:  sans-serif;
}
.navbar {
	background: #fff;
	border-bottom: 1px solid #dfe3e8;
    border-radius: 0;
    box-shadow: 0px 1px 10px 5px #c1c2c4;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
}
.navbar-nav{
    margin-left:auto;
}
.navbar .navbar-brand {
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 800;
}
.navbar .navbar-brand b {
	color: #33cabb;		
}

.btn {
    font-size: 15px;
    color: #fff !important;
	background: #33cabb !important;
	border: 1px solid #33cabb;
}
.btn:hover{
    color: #33cabb !important;
    background:#fff !important;
    border: 1px solid #33cabb;
}
.btn:focus,.btn:active{
    box-shadow:none !important;
    border: 1px solid #33cabb!important;
}
.dangerbtn {
    font-size: 15px;
    color: #fff !important;
	background:#e23131 !important;
	border: 1px solid #e23131;
}
.dangerbtn:hover{
    color: #e23131!important;
    background:#fff !important;
    border: 1px solid #e23131;
}
.navbar .dropdown-menu {
	color: #999;
	font-weight: normal;
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .action-form {
    width: 40vh;
	left: auto;
	right: 0;
	font-size: 14px;
}
.hint-text {
    text-align: center;
    font-size: 13px;
}
.navbar .action-buttons .dropdown-toggle::after {
	display: none;
}
#name{
    font-size: 22px;
    color:#414347
}
.welcome{
    font-size: 22px;
    color:#33cabb
}
.title{
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1.5px;
}
hr{
    border-top: 5px solid #33cabb;
    width:5%;
}
.title>span{
    color:#33cabb
}
.main{
    margin-top:8%!important;
}
.card{
    max-width: 30%;
    text-align: center;
    box-shadow: 0 0 20px 2px #c1c2c4 ;
    position:relative;
    transition-duration: .3s;
}
.card>img{
    width:80%;
border-radius: 50%;
box-shadow: 0 0 20px 3px #c1c2c4 ;
}
.card-title{
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 1px;
}
.price{
    font-size: 18px;
}
.price b{
    color:#33cabb
}
.card:hover{
    box-shadow: 0px 40px 30px -23px #33cabb;
    transform: translateY(-10px);;
  }
.dnone{
      display:none
  }
.editprod{
      float:right;
      color:#33cabb;
      transition: transform .2s;
  }
  .editprod:hover{
   transform:scale(2);
}